body{
    background-color: rgb(10,25,41);
    color: white;
}

.list-item{
    width: 20px;
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
}
.btn{
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 60%;
    cursor: pointer;
}
.active{
    background-color: rgb(90, 19, 156);
}